

* {
  margin: 0;
  padding: 0;
  }

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff
}

div {
  display: block;
}

body {
  background-color: black;
  font-family: sans-serif;
  background-image: url(../img/FON4IK.png);
  background-size: cover;
  background-position: center center;
  color: #FFFFFF;
}

.container {
  display: block;
  position: relative;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__div {
  display: flex;
  justify-content: space-between
}

.logo {
  width: 135px;
  border-radius: 45px;
  margin-left: 16px;
  margin-top: 6px;
 
}

.nav {
  text-align: center;

}

nav {
  margin-top: 16px;
  display: block;
}

.nav__item {
  cursor: pointer;
  padding: 40px;
  letter-spacing: .10px;
  font-size: 14px;
  color: #FFFFFF;
  transition: .10s all ease-in-out;
}

.nav__item:last-child {
  padding-right: 0
}

.nav__item:hover{
  opacity: 1;
  color: #8BEAFF;
}



.def__btn {
  display: block;
  height: 50px;
  width: 144px;
  border: 2px solid rgb(103, 183, 194);
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  transition: .3s all ease;
  cursor: pointer;
  font-weight: bold;
}

.def__btn:hover {
  background: #8BEAFF;
  border: 2px solid #8BEAFF;
  box-shadow: 0px 3.25581px 8.13953px rgba(139, 234, 255, 0.4);
  border-radius: 5px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 50px;
}

.hero {
  height: 600px;
  color: #FFFFFF;
}

.buy__btn {
  margin: auto;
  margin-top: 40px;
  display: block;
  font-size: 16px;
  height: 50px;
  width: 144px;
  border: 2px solid rgb(103, 183, 194);
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  transition: .3s all ease;
  cursor: pointer;
  font-weight: bold;
}



.heading {
  padding-top: 70px;
  padding-left: 82px;
  width: 800px;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.colored {
  color: #8BEAFF;
}

.heading__disc {
  padding-top: 29px;
  letter-spacing: .3px;
  font-size: 16px;
  line-height: 20px;
  color: #A0A0A0;
}

.features {
  height: 900px;
  color: #FFFFFF;
  
}

.monitors {
  height: 850px;
  color: #FFFFFF;

}

.extension {
  height: 850px;
  color: #FFFFFF;
}

.feature__title {
  padding-top: 70px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 33px;
}

.feature__content {
  position: relative;
  margin-top: 60px;
  width: 77%;
  margin: auto;
}

.feature__block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  
}

.feature__block__content {
  display: flex;
  justify-content: space-between;
  height: 180px;
  width: 480px;
  box-sizing: border-box;
  filter: drop-shadow(0px 3.08101px 3.08101px rgba(0, 0, 0, 0.25));
  border-radius: 7.70252px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 28.4609px 77.0252px rgba(0, 209, 255, 0.3);
  border-radius: 7.70252px;
}

.feature__block__img {
  display: block;
  margin: 24px 14px 0 16px;
  
}

.feature__block__text {
  padding-right: 15px;
  height: auto;
  display: block;
  position: relative;
  padding-top: 14px;
}

.feature__block__text h3 {
  margin: 12px 0 8px 0;
  color: #fff;
  
}

.feature__block__text p {
  display: block;
  margin: auto;
  text-align: left;
  margin: 0;
  font-weight: 500;
  font-size: 12.8074px;
  line-height: 18px;
  opacity: 0.7;
  margin-bottom: 40px;
  
}


.monitors__title {
  padding-top: 70px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 33px;
}


.extension__content {
  position: relative;
  margin-top: 60px;
  width: 85%;
  margin: auto;
  padding-top: 100px;
  
}

.extension__title {
  padding-top: 70px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 33px;

}

.extension__block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  
  
}

.extension__block__content {
  justify-content: space-between;
  height: 425px;
  width: 500px;
  box-sizing: border-box;
  filter: drop-shadow(0px 3.08101px 3.08101px rgba(0, 0, 0, 0.25));
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 21.3457px 35.5762px rgba(0, 209, 255, 0.3);
  border-radius: 7.70252px;
}

.extension__title__clic {
  text-align: center;
  padding-top: 39px;
  letter-spacing: 1px;
}

.extension__block__img__clic {
  padding-top: 64px;
  text-align: center;
}

.extension__block__text__clic {
  padding-right: 15px;
  padding-left: 15px;
  height: auto;
  display: block;
  position: relative;
  padding-top: 56px;
  text-align: center;
  line-height: 28px;

}

.extension__title__aco {
  text-align: center;
  padding-top: 39px;
  letter-spacing: 1px;
}

.extension__block__img__aco {
  padding-top: 27px;
  text-align: center;
}

.extension__block__text__aco {
  padding-right: 15px;
  padding-left: 15px;
  height: auto;
  display: block;
  position: relative;
  padding-top: 27px;
  text-align: center;

}



.faq__title {
  padding-top: 10 0px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 33px;
}

.faq__content {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.faq__block__img {
  padding-top: 100px;
}

.faq__img {
  height: 1000px;
}

.faq__block {
  padding-top: 40px;
  margin-left: 20px;
}

.faq__block__content {
  padding-top: 58px;
  
}

.faq__block__title {
  font-size: 16px;
}

.faq__block__text {
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

}

footer {
  display: block;
}

.contact {
  padding-top: 100px;
  
}



.img__logo{
  padding-top: 60px;
}

.contact__div {
  height: 150px;
  display: flex;
  justify-content: space-between
}


.nav__bottom {
  text-align: center;

}

.nav__item__bottom {
  cursor: pointer;
  padding: 40px;
  letter-spacing: .10px;
  font-size: 14px;
  color: #FFFFFF;
  transition: .10s all ease-in-out;
}


.nav__item__bottom:last-child {
  padding-right: 0
}

.nav__item__bottom:hover{
  opacity: 1;
  color: #8BEAFF;
}


.social {
  padding: 14px;
  display: flex;
  flex-flow: column wrap;
}

@media screen and (max-width : 480px) {
  html,body {
    overflow:  hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav__item {
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
    transition: .10s all ease-in-out;

  }
  
  .logo {
    width: 70px;
    border-radius: 45px;
    margin-left: 8px;
    margin-top: 6px;
}
  .def__btn {
    display: block;
    /* height: 50px; */
    width: 120px;
    border: 2px solid rgb(103, 183, 194);
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    transition: .3s all ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 22px;
    font-size: 12px;
  }
  .heading {
    width: auto;
    padding-top: 60px;
    padding-left: 8px;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }

  .heading__disc {
    padding-top: 40px;
    letter-spacing: .3px;
    font-size: 12px;
    line-height: 20px;
    color: #A0A0A0;
}

  .buy__btn {
    margin: auto;
    margin-top: 30px;
    display: block;
    font-size: 12px;
    width: 120px;
    border: 2px solid rgb(103, 183, 194);
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    transition: .3s all ease;
    cursor: pointer;
    font-weight: bold;
  }

  .feature__title {
    padding-top: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 25px;
}

  

  .feature__content {
      position: relative;
      margin: auto;
  }

  

  .feature__block__content {
    display: flex;
    
    box-sizing: border-box;
    filter: drop-shadow(0px 3.08101px 3.08101px rgba(0, 0, 0, 0.25));
    border-radius: 7.70252px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 28.4609px 77.0252px rgba(0, 209, 255, 0.3);
    border-radius: 7.70252px;
    padding-top: 10px;
    margin-top: 40px;
  }

  .container {
    display: block;
    position: relative;
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
  

}